.login{
    display: grid;
    place-items: center;
    background-color: black;
    height: 100vh;
}
.login__img{
    max-width: 500px;
}
.login__link{
    padding: 20px;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
